
$icon-mastercard_icon-width: 64px;
$icon-mastercard_icon-height: 64px;
$icon-advantages-1-width: 77px;
$icon-advantages-1-height: 46px;
$icon-advantages-2-width: 75px;
$icon-advantages-2-height: 84px;
$icon-advantages-3-width: 58px;
$icon-advantages-3-height: 78px;
$icon-advantages-4-width: 84px;
$icon-advantages-4-height: 73px;
$icon-advantages-5-width: 86px;
$icon-advantages-5-height: 43px;
$icon-armchairs-logo-width: 34px;
$icon-armchairs-logo-height: 29px;
$icon-arrow-down-c-width: 11px;
$icon-arrow-down-c-height: 6px;
$icon-arrow-down-width: 11px;
$icon-arrow-down-height: 6px;
$icon-arrow-left-width: 44px;
$icon-arrow-left-height: 44px;
$icon-arrow-right-width: 44px;
$icon-arrow-right-height: 44px;
$icon-chevron-width: 11px;
$icon-chevron-height: 6px;
$icon-close-info-width: 33px;
$icon-close-info-height: 33px;
$icon-corner-sofa-logo-width: 44px;
$icon-corner-sofa-logo-height: 26px;
$icon-count-width: 6px;
$icon-count-height: 8px;
$icon-delivery-width: 49px;
$icon-delivery-height: 32px;
$icon-hit-width: 40px;
$icon-hit-height: 40px;
$icon-hot-width: 40px;
$icon-hot-height: 40px;
$icon-kits-logo-width: 123px;
$icon-kits-logo-height: 29px;
$icon-logo-large-width: 35px;
$icon-logo-large-height: 162px;
$icon-logo-small-width: 99px;
$icon-logo-small-height: 21px;
$icon-maps-marker-width: 26px;
$icon-maps-marker-height: 26px;
$icon-modular-sofas-logo-width: 107px;
$icon-modular-sofas-logo-height: 29px;
$icon-new-width: 40px;
$icon-new-height: 40px;
$icon-one-day-width: 40px;
$icon-one-day-height: 40px;
$icon-open-info-width: 33px;
$icon-open-info-height: 33px;
$icon-pause-btn-width: 65px;
$icon-pause-btn-height: 65px;
$icon-pickup-width: 39px;
$icon-pickup-height: 32px;
$icon-play-btn-width: 65px;
$icon-play-btn-height: 65px;
$icon-plus-icon-width: 8px;
$icon-plus-icon-height: 8px;
$icon-sale-icon-width: 40px;
$icon-sale-icon-height: 40px;
$icon-sale-logo-width: 74px;
$icon-sale-logo-height: 51px;
$icon-search-icon-width: 36px;
$icon-search-icon-height: 36px;
$icon-search-width: 33px;
$icon-search-height: 33px;
$icon-slider-arrow-width: 18px;
$icon-slider-arrow-height: 17px;
$icon-small-forms-logo-width: 51px;
$icon-small-forms-logo-height: 12px;
$icon-star-width: 16px;
$icon-star-height: 15px;
$icon-straight-sofa-logo-width: 45px;
$icon-straight-sofa-logo-height: 29px;

.mastercard_icon {
  width: $icon-mastercard_icon-width;
  height: $icon-mastercard_icon-height;
}
.st0{fill:#545454;}
.st1{fill:#B8B8B8;}
.st2{fill:#FFFFFF;}

.advantages-1 {
  width: $icon-advantages-1-width;
  height: $icon-advantages-1-height;
}

.advantages-2 {
  width: $icon-advantages-2-width;
  height: $icon-advantages-2-height;
}

.advantages-3 {
  width: $icon-advantages-3-width;
  height: $icon-advantages-3-height;
}

.advantages-4 {
  width: $icon-advantages-4-width;
  height: $icon-advantages-4-height;
}

.advantages-5 {
  width: $icon-advantages-5-width;
  height: $icon-advantages-5-height;
}

.armchairs-logo {
  width: $icon-armchairs-logo-width;
  height: $icon-armchairs-logo-height;
}

.arrow-down-c {
  width: $icon-arrow-down-c-width;
  height: $icon-arrow-down-c-height;
}

.arrow-down {
  width: $icon-arrow-down-width;
  height: $icon-arrow-down-height;
}

.arrow-left {
  width: $icon-arrow-left-width;
  height: $icon-arrow-left-height;
}

.arrow-right {
  width: $icon-arrow-right-width;
  height: $icon-arrow-right-height;
}

.chevron {
  width: $icon-chevron-width;
  height: $icon-chevron-height;
}

.close-info {
  width: $icon-close-info-width;
  height: $icon-close-info-height;
}

.corner-sofa-logo {
  width: $icon-corner-sofa-logo-width;
  height: $icon-corner-sofa-logo-height;
}

.count {
  width: $icon-count-width;
  height: $icon-count-height;
}

.delivery {
  width: $icon-delivery-width;
  height: $icon-delivery-height;
}

.hit {
  width: $icon-hit-width;
  height: $icon-hit-height;
}

.hot {
  width: $icon-hot-width;
  height: $icon-hot-height;
}

.kits-logo {
  width: $icon-kits-logo-width;
  height: $icon-kits-logo-height;
}

.logo-large {
  width: $icon-logo-large-width;
  height: $icon-logo-large-height;
}

.logo-small {
  width: $icon-logo-small-width;
  height: $icon-logo-small-height;
}

.maps-marker {
  width: $icon-maps-marker-width;
  height: $icon-maps-marker-height;
}

.modular-sofas-logo {
  width: $icon-modular-sofas-logo-width;
  height: $icon-modular-sofas-logo-height;
}

.new {
  width: $icon-new-width;
  height: $icon-new-height;
}

.one-day {
  width: $icon-one-day-width;
  height: $icon-one-day-height;
}

.open-info {
  width: $icon-open-info-width;
  height: $icon-open-info-height;
}

.pause-btn {
  width: $icon-pause-btn-width;
  height: $icon-pause-btn-height;
}

.pickup {
  width: $icon-pickup-width;
  height: $icon-pickup-height;
}

.play-btn {
  width: $icon-play-btn-width;
  height: $icon-play-btn-height;
}

.plus-icon {
  width: $icon-plus-icon-width;
  height: $icon-plus-icon-height;
}

.sale-icon {
  width: $icon-sale-icon-width;
  height: $icon-sale-icon-height;
}

.sale-logo {
  width: $icon-sale-logo-width;
  height: $icon-sale-logo-height;
}

.search-icon {
  width: $icon-search-icon-width;
  height: $icon-search-icon-height;
}

.search {
  width: $icon-search-width;
  height: $icon-search-height;
}

.slider-arrow {
  width: $icon-slider-arrow-width;
  height: $icon-slider-arrow-height;
}

.small-forms-logo {
  width: $icon-small-forms-logo-width;
  height: $icon-small-forms-logo-height;
}

.star {
  width: $icon-star-width;
  height: $icon-star-height;
}

.straight-sofa-logo {
  width: $icon-straight-sofa-logo-width;
  height: $icon-straight-sofa-logo-height;
}

