<div class="accessories-item-wr">
	<div class="accessories-item">
		<div class="accessories-item__actions">
			<div class="accessories-item__action">SALE</div>
		</div>
		<a href="#" class="accessories-item__image">
			<picture>
				<source data-srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
				<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
				<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="sofa">
			</picture>
		</a>
		<div class="accessories-item__main">
			<div class="accessories-item__info">
				<a href="#" class="accessories-item__name">{{ name }},&ensp;</a>
				<span class="accessories-item__descr">{{ descr }}</span>
			</div>
			<div class="accessories-item__price">{{ price }}</div>
		</div>
		<a href="#" class="btn accessories-item__btn">Добавить в корзину</a>
	</div>
</div>
