<div class="accessories">
	<h2 class="section__title">{{ title }}</h2>
	<div class="accessories-wr {{ classes }}">
		{% include "accessories-and-gifts-item.twig" with {'name':'Постер', 'descr':'настенный','price':'Бесплатно'} %}
		{% include "accessories-and-gifts-item.twig" with {'name':'Часы', 'descr':'настенный','price':'2500₽'} %}
		{% include "accessories-and-gifts-item.twig" with {'name':'Постер', 'descr':'настенный','price':'Бесплатно'} %}
		{% include "accessories-and-gifts-item.twig" with {'name':'Постер', 'descr':'настенный','price':'2500₽'} %}
	</div>
</div>