<ul class="breadcrumbs">
	<li class="breadcrumbs__item">
		<a href="" class="breadcrumbs__link">
			Riforma
		</a>
	</li>
	<li class="breadcrumbs__item">
		<a href="" class="breadcrumbs__link">
			Каталог
		</a>
	</li>
	<li class="breadcrumbs__item">
		<a href="" class="breadcrumbs__link">
			Прямыее диваны
		</a>
	</li>
</ul>