<div class="collections">
	{% include "collections-item.twig" with { 'model': 'Vincent', 'pictureRight': false } %}
	{% include "collections-item.twig" with { 'model': 'Denver', 'pictureRight': true } %}
	{% include "collections-item.twig" with { 'model': 'Costa Rica', 'pictureRight': false } %}
	{% include "collections-item.twig" with { 'model': 'Sen-trope', 'pictureRight': true } %}
</div>