<div class="collections-item-card">
	<div class="collections-item-card__actions">
		<div class="collections-item-card__action">SALE</div>
		<div class="collections-item-card__action">HIT</div>
	</div>
	<a href="#" class="collections-item-card__image">
		<picture>
			<source data-srcset="img/assets/collections-item-card-phone.jpg, img/assets/collections-item-card-phone@2x.jpg 2x" media="(max-width: 740px)">
			<source data-srcset="img/assets/collections-item-card-tablet.jpg, img/assets/collections-item-card-tablet@2x.jpg 2x" media="(max-width: 950px)">
			<source data-srcset="img/assets/collections-item-card-medium.jpg, img/assets/collections-item-card-medium@2x.jpg 2x" media="(max-width: 1200px)">
			<source data-srcset="img/assets/collections-item-card.jpg, img/assets/collections-item-card@2x.jpg 2x">
			<img data-src="img/assets/collections-item-card.jpg" class="lazy-image" alt="">
		</picture>
	</a>
	<div class="collections-item-card__item-top">
		<div class="collections-item-card__item-info">
			<a href="#" class="collections-item-card__item-name">Vincent,</a>
			<div class="collections-item-card__item-type">прямой диван</div>
			<div class="collections-item-card__item-descr">Велюр/Микровелюр</div>
		</div>
		<div class="collections-item-card__item-prices">
			<div class="collections-item-card__item-current-price">44 805₽</div>
			<div class="collections-item-card__item-old-price">54990₽</div>
		</div>
	</div>
</div>