{% block footer %}
	<footer class="footer-wrap">
		<div class="footer">
			<div class="footer-top">
				<ul class="footer-top__list">
					<li>
						<span class="footer-top__link">Мы работаем ежедневно</span> <span class="footer-top__schedule">10.00 — 22.00</span>
					</li>
					<li>
						<a href="#" class="footer-top__link">Cвязаться с консультантом</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Политика конфиденциальности</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Контактная информация</a>
					</li>
				</ul>
				<ul class="footer-top__list">
					<li>
						<a href="tel:74992705929" class="footer-top__link footer-top__phone">+7 (499) 270-59-29</span>
					</li>
					<li>
						<a href="mailto:salonr28@riforma.su" class="footer-top__link footer-top__mail">salonr28@riforma.su</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Instagram</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Facebook</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Vkontakte</a>
					</li>
				</ul>
				<ul class="footer-top__list">
					<li>
						<a href="#" class="footer-top__link">О бренде</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Каталог</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Доставка и оплата</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Наши магазины</a>
					</li>
					<li>
						<a href="#" class="footer-top__link">Дисконт центр</a>
					</li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom__left">
					<div class="footer-bottom__copy">
						&copy; 2017 Riforma, диваны для счастья
						<br>
						<span>Сайт сделан на диване в агентстве Супрематика</span>
					</div>
				</div>
				<div class="footer-bottom__right">
					<picture>
						<source srcset="img/assets/visa-tablet.png, img/assets/visa-tablet@2x.png 2x" media="(max-width: 950px)">
						<source srcset="img/assets/visa.png, img/assets/visa@2x.png 2x">
						<img src="img/assets/visa.png" alt="">
					</picture>
					<svg role="img" class="footer-bottom__right_master">
						<use xlink:href="#mastercard_icon"></use>
					</svg>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}