{% block map %}
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=43dd238d-f61d-4f82-bf71-07fba4e77e35" type="text/javascript" defer async></script>
	<div class="map">
		{% if state == 'index' %}
			<div class="map__left">
				<div class="map__title">Эту и другие модели <br>вы можете посмотреть <br>в наших салонах</div>
				<div class="map__text">
					Доставка нашей мебели осуществляется с 9 до 22 часов. Как только ваш заказ прибудет на склад и будет готов к отправке, наш менеджер свяжется с вами и уточнит удобный для вас день. Накануне согласованной даты, пожалуйста, убедитесь в том, что вы доступны для звонка, так как без подтверждения доставки мы не сможем привезти к вам нашу мебель.
				</div>
			</div>
		{% endif %}
		{% if state == 'delivery' %}
			<div class="map__left">
				<div class="map__title">Оплата и доставка</div>
				<div class="map__text">
					Доставка нашей мебели осуществляется с 9 до
					22 часов. Как только ваш заказ прибудет на
					склад и будет готов к отправке, наш менеджер
					свяжется с вами и уточнит удобный для вас день.
					Накануне согласованной даты, пожалуйста,
					убедитесь в том, что вы доступны для звонка, так
					как без подтверждения доставки мы не сможем
					привезти к вам нашу мебель.
					<br>
					<br>
					Оплатить товары и услуги вы можете в нашем
					салоне. Мы принимаем оплату, как наличными,
					так и с помощью банковской карты. Также мы
					предоставляем нашим клиентам возможность
					приобрести мебель в кредит или рассрочку до
					24 месяцев.
					<br>
					<br>
					Информацию по доставке можно
					получить в будние дни с  9.00 до 17.30
					по телефону +7 (495) 406-00-98.
					<br>
					<br>
					<a href="#" class="map__text-link">Узнать больше</a>
				</div>
			</div>
		{% endif %}
		<div class="map__right">
			<div class="map-container map-index _map" id="map" data-map="large"></div>
			<div class="map__new-window">
				<a href="#">Открыть карту в новом окне</a>
			</div>
		</div>
	</div>
{% endblock %}