<section class="models-in-stock">
	<h2 class="section__title section__title_margin_bot">
		Модели в наличии
	</h2>
	<div class="models-in-stock__items models-in-stock-slider dropdown-list">
		{% include "models-in-stock-item.twig" %}
		{% include "models-in-stock-item.twig" %}
		{% include "models-in-stock-item.twig" %}
		{% include "models-in-stock-item.twig" %}
		{% include "models-in-stock-item.twig" %}
		{% include "models-in-stock-item.twig" %}
	</div>
</section>