<div class="models-in-stock__item-wr">
	<div class="models-in-stock__item">
		<div class="models-in-stock__actions">
			<div class="models-in-stock__action">SALE</div>
			<div class="models-in-stock__action">HIT</div>
		</div>
		<a href="#" class="models-in-stock__image">
			<picture>
				<source data-srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
				<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
				<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="sofa">
			</picture>
		</a>
		<div class="models-in-stock__item-top">
			<div class="models-in-stock__item-info">
				<a href="#" class="models-in-stock__item-name">Vincent,</a>
				<div class="models-in-stock__item-type">прямой диван</div>
				<div class="models-in-stock__item-descr">Велюр/Микровелюр</div>
			</div>
			<div class="models-in-stock__item-prices">
				<div class="models-in-stock__item-current-price">44 805₽</div>
				<div class="models-in-stock__item-old-price">54990₽</div>
			</div>
		</div>
		<div class="models-in-stock__item-middle">
			<a href="#" class="btn models-in-stock__btn">Купить за 44 805₽</a>
		</div>
		<div class="models-in-stock__item-bot">
			м. Автозаводская, ул. Ленинская <br />
			Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
			Время работы: 10.00&nbsp;&mdash; 22.00<br />
			<a href="tel:74994060198">+7 (499) 406-01-98</a>
		</div>
	</div>
</div>