{% extends "../layouts/popup-body.twig" %}

{% set popupName = 'action' %}
{% block popupConent %}
	<div class="action-info">
		<div class="action-info__wr">
			<div class="action-info__date">14.05</div>
			<div class="action-info__title">
				Весь май скидка&nbsp;25% на&nbsp;модели Memphis<br class="mobile-break">и&nbsp;Denver. <br class="medium-break mobile-break-no">
				Условия акции уточняйте<br class="mobile-break">у&nbsp;дизайнеров-консультантов мебельных<br class="mobile-break">салонов <br class="medium-break mobile-break-no">
				Riforma или по&nbsp;телефону<br class="mobile-break">+7 (499) 270-59-29. <br class="mobile-break">Количество товаров ограничено.
			</div>
			<div class="action-info__image">
				<picture>
					<source srcset="img/assets/action-phone.jpg, img/assets/action-phone@2x.jpg 2x" media="(max-width: 740px)">
					<source srcset="img/assets/action-tablet.jpg, img/assets/action-tablet@2x.jpg 2x" media="(max-width: 950px)">
					<source srcset="img/assets/action.jpg, img/assets/action@2x.jpg 2x">
					<img src="img/assets/action.jpg" alt="sofa type">
				</picture>
			</div>
		</div>
		<div class="recommendation">
			<div class="action-info__title">Рекомендуем сегодня</div>
			<div class="recommendation__list">
				<a href="#" class="sale__item">
					<div class="sale__actions">
						<div class="sale__action">SALE</div>
						<div class="sale__action">HIT</div>
					</div>
					<div class="sale__image">
						<picture>
							<source srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
							<img src="img/assets/sale-item.jpg" alt="sofa">
						</picture>
					</div>
					<div class="sale__item-top">
						<div class="sale__item-info">
							<div class="sale__item-name">Vincent,</div>
							<div class="sale__item-type">прямой диван</div>
							<div class="sale__item-descr">Велюр/Микровелюр</div>
						</div>
						<div class="sale__item-prices">
							<div class="sale__item-current-price">44 805₽</div>
							<div class="sale__item-old-price">54990₽</div>
						</div>
					</div>
					<div class="sale__item-bot">
						м. Автозаводская, ул. Ленинская <br />
						Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
						Время работы: 10.00&nbsp;&mdash; 22.00<br />
						+7 (499) 406-01-98
					</div>
				</a>
				<a href="#" class="sale__item">
					<div class="sale__actions">
						<div class="sale__action">SALE</div>
						<div class="sale__action">HIT</div>
					</div>
					<div class="sale__image">
						<picture>
							<source srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
							<img src="img/assets/sale-item.jpg" alt="sofa">
						</picture>
					</div>
					<div class="sale__item-top">
						<div class="sale__item-info">
							<div class="sale__item-name">Vincent,</div>
							<div class="sale__item-type">прямой диван</div>
							<div class="sale__item-descr">Велюр/Микровелюр</div>
						</div>
						<div class="sale__item-prices">
							<div class="sale__item-current-price">44 805₽</div>
							<div class="sale__item-old-price">54990₽</div>
						</div>
					</div>
					<div class="sale__item-bot">
						м. Автозаводская, ул. Ленинская <br />
						Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
						Время работы: 10.00&nbsp;&mdash; 22.00<br />
						+7 (499) 406-01-98
					</div>
				</a>
				<a href="#" class="sale__item">
					<div class="sale__actions">
						<div class="sale__action">SALE</div>
						<div class="sale__action">HIT</div>
					</div>
					<div class="sale__image">
						<picture>
							<source srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
							<img src="img/assets/sale-item.jpg" alt="sofa">
						</picture>
					</div>
					<div class="sale__item-top">
						<div class="sale__item-info">
							<div class="sale__item-name">Vincent,</div>
							<div class="sale__item-type">прямой диван</div>
							<div class="sale__item-descr">Велюр/Микровелюр</div>
						</div>
						<div class="sale__item-prices">
							<div class="sale__item-current-price">44 805₽</div>
							<div class="sale__item-old-price">54990₽</div>
						</div>
					</div>
					<div class="sale__item-bot">
						м. Автозаводская, ул. Ленинская <br />
						Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
						Время работы: 10.00&nbsp;&mdash; 22.00<br />
						+7 (499) 406-01-98
					</div>
				</a>
				<a href="#" class="sale__item">
					<div class="sale__actions">
						<div class="sale__action">SALE</div>
						<div class="sale__action">HIT</div>
					</div>
					<div class="sale__image">
						<picture>
							<source srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
							<img src="img/assets/sale-item.jpg" alt="sofa">
						</picture>
					</div>
					<div class="sale__item-top">
						<div class="sale__item-info">
							<div class="sale__item-name">Vincent,</div>
							<div class="sale__item-type">прямой диван</div>
							<div class="sale__item-descr">Велюр/Микровелюр</div>
						</div>
						<div class="sale__item-prices">
							<div class="sale__item-current-price">44 805₽</div>
							<div class="sale__item-old-price">54990₽</div>
						</div>
					</div>
					<div class="sale__item-bot">
						м. Автозаводская, ул. Ленинская <br />
						Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
						Время работы: 10.00&nbsp;&mdash; 22.00<br />
						+7 (499) 406-01-98
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}