{% extends "../layouts/popup-body.twig" %}

{% set popupName = 'second-action' %}
{% block popupConent %}
	<div class="action-info action-info-second">
		<div class="action-info__wr">
			<div class="action-info-second__wr">
				<div class="action-info-second__article">
					<div class="action-info__date">14.05</div>
					<div class="section__title action-info__title">
						Какой диван поставить на кухню?
					</div>
					<div class="action-info-second__descr">
						<p class="action-info-second__text">
							Если позволяют квадратные метры, смело расширяйте географию своих &laquo;диванных&raquo; поисков и&nbsp;выбирайте<br class="tablet-break-no">
							не&nbsp;только среди кухонных моделей, но&nbsp;и&nbsp;стандартных диванов для гостиной.
						</p>
						<p class="action-info-second__text">
							Если вы&nbsp;планируете использовать диван в&nbsp;качестве дополнительного
							спального места, обратите внимание&nbsp;на функциональные диваны-трансформеры&nbsp;&mdash;
							они раскладываются до&nbsp;размеров кровати, подходящей для одного&nbsp;или даже двоих человек.
							Существует более 10&nbsp;видов механизмов трансформации &nbsp;мы недавно разбирали в&nbsp;статье),
							однако наиболее оптимальными вариантами для кухонь являются модели&nbsp;с механизмами &laquo;дельфин&raquo;
							и&nbsp;&laquo;еврокнижка&raquo;, которые позволяют быстро разложить диван, в&nbsp;том числе в&nbsp;условиях небольшой площади.
						</p>
					</div>
					<div class="action-info__image">
						<picture>
							<source srcset="img/assets/popup-second-desc-pic-phone.jpg, img/assets/popup-second-desc-pic-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/action.jpg, img/assets/action@2x.jpg 2x">
							<img src="img/assets/action.jpg" alt="img">
						</picture>
					</div>
					<div class="action-info-second__descr">
						<p class="action-info-second__text">
							Если вы&nbsp;планируете использовать диван в&nbsp;качестве дополнительного спального места, обратите внимание на&nbsp;функциональные диваны-трансформеры&nbsp;&mdash; они раскладываются до&nbsp;размеров кровати, подходящей для одного или даже двоих человек. Существует более 10&nbsp;видов механизмов трансформации (самые популярные из&nbsp;них мы&nbsp;недавно разбирали в&nbsp;статье), однако наиболее оптимальными вариантами для кухонь являются модели с&nbsp;механизмами &laquo;дельфин&raquo; и&nbsp;&laquo;еврокнижка&raquo;, которые позволяют быстро разложить диван, в&nbsp;том числе в&nbsp;условиях небольшой площади.
						</p>
					</div>
					<div class="action-info-second__rows">
						<div class="action-info-second__row">
							<div class="action-info-second__row-pic">
								<picture>
									<source srcset="img/assets/popup-second-desc-pic-phone.jpg, img/assets/popup-second-desc-pic-phone@2x.jpg 2x" media="(max-width: 740px)">
									<source srcset="img/assets/popup-second-desc-pic.jpg, img/assets/popup-second-desc-pic@2x.jpg 2x">
									<img src="img/assets/popup-second-desc-pic.jpg" alt="img">
								</picture>

							</div>
							<div class="action-info-second__row-desc action-info-second__row-desc_right">
								Riforma&nbsp;&mdash; уникальные диваны для счастья!
								Диваны бренда Riforma&nbsp;&mdash; это результат уникального
								производственного цикла: от&nbsp;механизмов,
								комплектующих и&nbsp;тканей до&nbsp;готового дивана. Ищите
								ярко-фиолетовые салоны в&nbsp;мебельных центрах
								Москвы и&nbsp;области.
							</div>
						</div>
						<div class="action-info-second__row action-info-second__row_reverse">
							<div class="action-info-second__row-desc action-info-second__row-desc_left">
								Дизайн для каждой нашей модели разрабатывается с&nbsp;учетом
								самых последних тенденций мирового мебельного рынка.
								Наши специалисты всегда в&nbsp;курсе мировых мебельных
								выставок Италии и&nbsp;Германии и&nbsp;поэтому могут предложить вам
								самые актуальные дизайнерские решения. Технологии
								производства диванов для нашего бренда доведены до
								совершенства и&nbsp;приближаются к&nbsp;технологиям конвейерного
								производства автомобилей, что дает высокую степень
								скорости, точности и&nbsp;качества производства и&nbsp;сборки
								диванов.
							</div>
							<div class="action-info-second__row-pic action-info-second__row-pic_right">
								<picture>
									<source srcset="img/assets/action-phone.jpg, img/assets/action-phone@2x.jpg 2x" media="(max-width: 740px)">
									<source srcset="img/assets/popup-second-desc-pic.jpg, img/assets/popup-second-desc-pic@2x.jpg 2x">
									<img src="img/assets/popup-second-desc-pic.jpg" alt="img">
								</picture>
							</div>
						</div>
					</div>
				</div>
				<div class="action-info-second__article">
					<div class=" section__title action-info__title">
						Для просторной кухни и квартиры-студии
					</div>
					<div class="action-info-second__descr">
						<p class="action-info-second__text">
							Кухня с&nbsp;диваном&nbsp;&mdash; больше, чем просто кухня. Это и&nbsp;гостиная, и&nbsp;столовая,
							а&nbsp;в&nbsp;некоторых случаях еще и&nbsp;спальня.
							Какими бывают кухонные модели, что учитывать при выборе и&nbsp;какой все-таки
							диван лучше поставитьна&nbsp;кухню &mdash;разбираемся в&nbsp;этой статье.
						</p>
						<p class="action-info-second__text">
							Это правило касается и&nbsp;квартиры-студии: ее&nbsp;свободного пространства хватит практически для любого
							дивана&nbsp;&mdash; как кухонного, так и&nbsp;обычного. Поставьте модель с&nbsp;массивными подлокотниками на&nbsp;границе между
							предполагаемой столовой и&nbsp;гостиной комнатой или разграничьте зоны для готовки и&nbsp;отдыха ярким и
							лаконичным вариантом в&nbsp;скандинавском стиле.
						</p>
					</div>

					{% include "popup-slider.twig" with {"images":["action-slider", "action-slider", "action-slider"], "classes": "action-info__slider", "arrows": "true" } %}

					<div class="action-info-second__descr">
						<p class="action-info-second__text">
							Если позволяют квадратные метры, смело расширяйте географию своих &laquo;диванных&raquo; поисков и&nbsp;выбирайте<br />
							не&nbsp;только среди кухонных моделей, но&nbsp;и&nbsp;стандартных диванов для гостиной.
						</p>
						<p class="action-info-second__text">
							Это правило касается и&nbsp;квартиры-студии: ее&nbsp;свободного пространства хватит практически для любого
							дивана&nbsp;&mdash; как кухонного, так и&nbsp;обычного. Поставьте модель с&nbsp;массивными подлокотниками на&nbsp;границе между
							предполагаемой столовой и&nbsp;гостиной комнатой или разграничьте зоны для готовки и&nbsp;отдыха ярким и
							лаконичным вариантом в&nbsp;скандинавском стиле.
						</p>
					</div>
					<a href="" class="action-info-second__share">Поделиться статьей в соцсетях </a>
				</div>
			</div>
			<div class="action-info-second__advice">
				<div class="action-info__title">
					Рекомендуем также посмотреть
				</div>
				<div class="actions__row">
					<a href="#" class="actions__image">
						<picture>
							<source srcset="img/assets/action-phone.jpg, img/assets/action-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/action-tablet.jpg, img/assets/action-tablet@2x.jpg 2x" media="(max-width: 950px)">
							<source srcset="img/assets/action.jpg, img/assets/action@2x.jpg 2x">
							<img src="img/assets/action.jpg" alt="sofa type">
						</picture>
					</a>
					<div class="actions__desc">
						<div class="actions__date">28 марта</div>
						<div class="actions__text">
							Дари тепло! В марте скидка 15% на весь модельный ряд пледов из наличия в салоне
						</div>
					</div>
				</div>
				<div class="actions__row actions__row_reverse">
					<div class="actions__desc">
						<div class="actions__date">14 марта</div>
						<div class="actions__text">
							Специальное предложение В апреле на модель Денвер действует специальное предложение.
						</div>
					</div>
					<a href="#" class="actions__image">
						<picture>
							<source srcset="img/assets/action-phone.jpg, img/assets/action-phone@2x.jpg 2x" media="(max-width: 740px)">
							<source srcset="img/assets/action-tablet.jpg, img/assets/action-tablet@2x.jpg 2x" media="(max-width: 950px)">
							<source srcset="img/assets/action.jpg, img/assets/action@2x.jpg 2x">
							<img src="img/assets/action.jpg" alt="sofa type">
						</picture>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}