<div class="riforma-furniture-advantages">
	<div class="riforma-furniture-advantage riforma-furniture-advantage_1">
		<div class="riforma-furniture-advantage__icon riforma-furniture-advantage__icon_1">
			<svg xmlns="http://www.w3.org/2000/svg" width="78.211" height="46.135" viewBox="0 0 78.211 46.135">
				<path class="r-a__1-3" data-name="Path 5354" d="M66.098 26.737l9.9 9.172-9.9 9.123" fill="none" stroke="#5f3173" stroke-width="3"/>
				<path class="r-a__1-1" data-name="Path 4336" d="M.761 15.126v8.9h36.923v-10.16H13.423L8.146-.005l-8.145 3.1 4.129 10.85z" fill="#613175"/>
				<path class="r-a__1-2" data-name="Rectangle 799" fill="#613175" d="M.561 34.332h74.703v3.173H.561z"/>
			</svg>
		</div>
		<div class="riforma-furniture-advantage__text">
			<span class="bold">Доставка по всей территории</span> Российской федерации
		</div>
	</div>
	<div class="riforma-furniture-advantage riforma-furniture-advantage_2">
		<div class="riforma-furniture-advantage__icon riforma-furniture-advantage__icon_2">
			<svg width="77" height="87" viewBox="0 0 89 100" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path class="r-a__2-1" d="M23.5307 57.04V67.48H66.8307V55.56H38.3807L32.1907 39.3L22.6407 42.93L27.4807 55.66L23.5307 57.04Z" fill="#613175"/>
				<path class="r-a__2-2" d="M77.5 28C81 33 87.5 41.5 87.5 55.5C87.5 76.5 71.5001 98.5 44.0001 98.5C16.5 98.5 2.00003 73.5 2.00003 55.5C2.00003 37.5 18 13 44.0001 13" stroke="#613175" stroke-width="3.75"/>
				<path class="r-a__2-3" d="M27 2L45.5 13L31.5 28" stroke="#613175" stroke-width="3.75"/>
			</svg>
		</div>
		<div class="riforma-furniture-advantage__text">
			<span class="bold">100% официальная гарантия.</span> Возврат или&nbsp;замена согласно законодательству РФ
		</div>
	</div>
	<div class="riforma-furniture-advantage riforma-furniture-advantage_3">
		<div class="riforma-furniture-advantage__icon riforma-furniture-advantage__icon_3">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.15" height="78.86" viewBox="0 0 68.26 92.87">
				<path class="r-a__3-1" id="Path_4345" data-name="Path 4345" d="M12.92,65.12V75.56h43.3V63.64H27.77L21.59,47.37,12,51l4.84,12.72Z" fill="#613175"/>
				<circle class="r-a__3-2" id="Ellipse_78" data-name="Ellipse 78" cx="27.39" cy="10.2" r="2.85" fill="#613175"/>
				<circle class="r-a__3-3" data-name="Ellipse 79" cx="41.76" cy="10.2" r="2.85" fill="#613175"/>
				<path class="r-a__3-4" data-name="Path 5355" d="M66.34,1.79,66.4,90.839l-64.537.068.07-89.039Z" transform="translate(0.013 0.087)" fill="none" stroke="#613175" stroke-width="3.75"/>
				<line class="r-a__3-5"  x1="1.87" y1="19.17" x2="64.65" y2="19.17" fill="none" stroke="#613175" stroke-miterlimit="10" stroke-width="3.75"/>
			</svg>
		</div>
		<div class="riforma-furniture-advantage__text">
			<span class="bold">Бесплатная доставка за&nbsp;1&nbsp;день</span> по&nbsp;Москве <br class="mobile-break-no">и&nbsp;Санкт-Петербургу
		</div>
	</div>
	<div class="riforma-furniture-advantage riforma-furniture-advantage_4">
		<div class="riforma-furniture-advantage__icon riforma-furniture-advantage__icon_4">
			<svg xmlns="http://www.w3.org/2000/svg" width="84.08" height="73.58" viewBox="0 0 91.09 79.43">
				<path class="r-a__4-1" id="Path_4348" data-name="Path 4348" d="M24.17,37V47.55H67.82v-12H39.14L32.9,19.14,23.27,22.8l4.88,12.83Z" fill="#613175"/>
  				<path class="r-a__4-2" data-name="Path 5356" d="M44.86,60.25H87.69a1.67,1.67,0,0,0,1.67-1.67V3.4a1.67,1.67,0,0,0-1.67-1.67H3.4A1.67,1.67,0,0,0,1.72,3.4V58.62A1.67,1.67,0,0,0,3.4,60.29H17.47A1.67,1.67,0,0,1,19.14,62V76a1.67,1.67,0,0,0,2.68,1.33l22-16.77a1.67,1.67,0,0,1,1.04-.31Z" transform="translate(0.005 -0.005)" fill="none" stroke="#613175" stroke-miterlimit="10" stroke-width="3.45"/>
			</svg>
		</div>
		<div class="riforma-furniture-advantage__text">
			<span class="bold">Понятные ответы на&nbsp;сложные вопросы.</span> Мы сможем подобрать лучший инструмент <br> для вас.
		</div>
	</div>
	<div class="riforma-furniture-advantage riforma-furniture-advantage_5">
		<div class="riforma-furniture-advantage__icon riforma-furniture-advantage__icon_5">
			<svg xmlns="http://www.w3.org/2000/svg" width="86.39" height="90" viewBox="0 0 101.77 90">
				<path class="r-a__5-1" id="Path_4338" data-name="Path 4338" d="M28.93,39.62V50.05h43.3V38.14H43.78L37.59,21.88,28,25.51l4.84,12.72Z" fill="#613175"/>
				<path class="r-a__5-2" d="M1.95,50.88a48.94,48.94,0,0,1,97.88,0" fill="none" stroke="#613175" stroke-miterlimit="10" stroke-width="3.89"/>
			</svg>
		</div>
		<div class="riforma-furniture-advantage__text">
			<span class="bold">Безупречное <br> обслуживание.</span> Мы поддерживаем клиентов до&nbsp;и&nbsp;после покупки.
		</div>
	</div>
</div>