<section class="sale">
	<h2 class="section__title">Распродажа</h2>
	<div class="sale__items sale__items-slider">
		<div class="sale__item-wr">
			<a href="#" class="sale__item">
				<div class="sale__actions">
					<div class="sale__action">SALE</div>
					<div class="sale__action">HIT</div>
				</div>
				<div class="sale__image">
					<picture>
						<source data-srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
						<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="">
					</picture>
				</div>
				<div class="sale__item-top">
					<div class="sale__item-info">
						<div class="sale__item-name">Vincent,</div>
						<div class="sale__item-type">прямой диван</div>
						<div class="sale__item-descr">Велюр/Микровелюр</div>
					</div>
					<div class="sale__item-prices">
						<div class="sale__item-current-price">44 805₽</div>
						<div class="sale__item-old-price">54990₽</div>
					</div>
				</div>
				<div class="sale__item-bot">
					м. Автозаводская, ул. Ленинская <br />
					Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
					Время работы: 10.00&nbsp;&mdash; 22.00<br />
					+7 (499) 406-01-98
				</div>
			</a>
		</div>
		<div class="sale__item-wr">
			<a href="#" class="sale__item">
				<div class="sale__actions">
					<div class="sale__action">NEW</div>
				</div>
				<div class="sale__image">
					<picture>
						<source data-srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
						<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="">
					</picture>
				</div>
				<div class="sale__item-top">
					<div class="sale__item-info">
						<div class="sale__item-name">Vincent,</div>
						<div class="sale__item-type">прямой диван</div>
						<div class="sale__item-descr">Велюр/Микровелюр</div>
					</div>
					<div class="sale__item-prices">
						<div class="sale__item-current-price">44 805₽</div>
						<div class="sale__item-old-price">54990₽</div>
					</div>
				</div>
				<div class="sale__item-bot">
					м. Автозаводская, ул. Ленинская <br />
					Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
					Время работы: 10.00&nbsp;&mdash; 22.00<br />
					+7 (499) 406-01-98
				</div>
			</a>
		</div>
		<div class="sale__item-wr">
			<a href="#" class="sale__item">
				<div class="sale__actions">
					<div class="sale__action">NEW</div>
				</div>
				<div class="sale__image">
					<picture>
						<source data-sdata-rcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
						<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="">
					</picture>
				</div>
				<div class="sale__item-top">
					<div class="sale__item-info">
						<div class="sale__item-name">Vincent,</div>
						<div class="sale__item-type">прямой диван</div>
						<div class="sale__item-descr">Велюр/Микровелюр</div>
					</div>
					<div class="sale__item-prices">
						<div class="sale__item-current-price">44 805₽</div>
						<div class="sale__item-old-price">54990₽</div>
					</div>
				</div>
				<div class="sale__item-bot">
					м. Автозаводская, ул. Ленинская <br />
					Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
					Время работы: 10.00&nbsp;&mdash; 22.00<br />
					+7 (499) 406-01-98
				</div>
			</a>
		</div>
		<div class="sale__item-wr">
			<a href="#" class="sale__item">
				<div class="sale__image">
					<picture>
						<source data-srcset="img/assets/sale-item-phone.jpg, img/assets/sale-item-phone@2x.jpg 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/sale-item.jpg, img/assets/sale-item@2x.jpg 2x">
						<img class="lazy-image" data-src="img/assets/sale-item.jpg" alt="">
					</picture>
				</div>
				<div class="sale__item-top">
					<div class="sale__item-info">
						<div class="sale__item-name">Vincent,</div>
						<div class="sale__item-type">прямой диван</div>
						<div class="sale__item-descr">Велюр/Микровелюр</div>
					</div>
					<div class="sale__item-prices">
						<div class="sale__item-current-price">44 805₽</div>
						<div class="sale__item-old-price">54990₽</div>
					</div>
				</div>
				<div class="sale__item-bot">
					м. Автозаводская, ул. Ленинская <br />
					Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
					Время работы: 10.00&nbsp;&mdash; 22.00<br />
					+7 (499) 406-01-98
				</div>
			</a>
		</div>
	</div>
</section>