<div class="search-info">
	<div class="search-info__result">
		Найдено: 15 моделей
	</div>

	<div class="search-info-sort dropdown-wr">
		<div class="search-info-sort__title">Сортировать:</div>
		<div class="search-info-sort__title-mobile dropdown-activator" onclick="o2.dropdown.toggle(this);">Сортировать</div>

		<ul class="search-info-sort__list dropdown-list">
			<li class="active"><a href="#">по цене</a></li>
			<li><a href="">по популярности</a></li>
		</ul>
	</div>
</div>