<div class="small-map-wr">
	<div class="map-container small-map {{ classes }} " id="map" data-map="smallMap"></div>
	<div class="map__new-window">
		<a href="#">Открыть карту в новом окне</a>
	</div>
</div>
