<div class="sofa-type-wr">
	<div class="sofa-type">
		<a href="#" class="sofa-type__title">
			Прямые диваны
		</a>
		<a href="#" class="sofa-type__image">
			<picture>
				<source data-srcset="img/assets/type-card-phone.jpg, img/assets/type-card-phone@2x.jpg 2x" media="(max-width: 740px)">
				<source data-srcset="img/assets/type-card-tablet.jpg, img/assets/type-card-tablet@2x.jpg 2x" media="(max-width: 950px)">
				<source data-srcset="img/assets/type-card.jpg, img/assets/type-card@2x.jpg 2x">
				<img alt="sofa type" class="lazy-image" data-src="img/assets/type-card.jpg">
			</picture>
		</a>
	</div>
</div>