<section class="sofa-types ">
	<div class="sofa-types-row sofa-types-mob-slider">
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
		{% include "sofa-type.twig" %}
	</div>
</section>