/*  Переменные со шрифтами  */
$accent-font: 'HelveticaNeue-Roman', sans-serif;
$second-font: 'HelveticaNeueLTW1G-Bd', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
// $pt-bold: 700;


/*  Основные цвета  */
$accent-color: #643275;
$grey: #b1b1b1;
$hover-color:  #717171;

/* Разрешения */
$large: 1441px;
$medium: 1200px;
$tablet: 950px;
$mobile: 740px;