{# discount-center.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="discount-center">
		{% include "blocks/breadcrumbs.twig" %}
		<div class="discount-center__top">
			<div class="discount-center__top-left">
				<div class="section__title discount-center__title">Дисконт центр</div>
				<div class="discount-center__address">
					м. Автозаводская, ул. Ленинская <br />
					Слобода, д.&nbsp;26, ТЦ&nbsp;Румер<br />
					Время работы: 10.00&nbsp;&mdash; 22.00<br />
					<a href="tel:74994060198">+7 (499) 406-01-98</a>
				</div>
				<div class="discount-center__links dropdown-wr">
					<div class="discount-center__link-wr">
						<div class="discount-center__link discount-center__feedback" onclick="o2.dropdown.toggle(this)">
							Связаться с консультантом
						</div>
						<div class="discount-center__link discount-center__feedback discount-center__feedback_mob" onclick="o2.header.openPopover('request')">
							Связаться с консультантом
						</div>
					</div>
					<div class="discount-center__link-wr">
						<a href="#" class="discount-center__link discount-center__route">
							Как добраться?
						</a>
					</div>
					<div class="popover-request-wr discount-center__request dropdown-list">
						<form action="" class="popover-request-form" onsubmit="o2.feedbackRequest.send(this, event)">
							<div class="popover-request-header dropdown-activator">
								Вы&nbsp;можете заказать <br />
								обратный звонок
							</div>
							<div class="popover-request-label">
								Пожалуйста, заполните краткую информационную форму, и&nbsp;наши сотрудники свяжутся с&nbsp;вами.
							</div>
							<div class="popover-request-input__inputs">
								<label class="input-wr popover-request-input">
									<input type="text" class="input _required" value="" onkeyup="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);">
									<div class="input__label">Имя*</div>
								</label>
								<label class="input-wr popover-request-input">
									<input type="tel" class="input _required _phone-mask" value="" onkeyup="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);">
									<div class="input__label">Телефон*</div>
								</label>
								<button class="btn btn_accent btn_full popover-request-btn" type="submit">Заказать звонок</button>
							</div>
						</form>
						<div class="popover-request-success">
							<div class="popover-request-success__top">
								<div class="popover-request-success__header">
									Ваша заявка принята
								</div>
								<div class="popover-request-success__descr">
									Наш консультант перезвонит <br />
									Вам в&nbsp;течении 10&nbsp;минут.
								</div>
							</div>
							<!-- <button class="btn btn_full popover-request-btn popover-request-btn_skin" onclick="o2.popover.close()">Продолжить покупки</button> -->
						</div>
					</div>
				</div>
			</div>
			<div class="discount-center__top-right">
				{% include "blocks/small-map.twig" with { "classes": "_map" } %}
			</div>
		</div>

		{% include "blocks/large-slider.twig" with {"parallax": "true", "content": ["large-slider", "large-slider", "large-slider"], "classes": "top-large-slider"} %}

		<div class="discount-center__main">
			<div class="section__title discount-center__main-title">В салоне представлены 16 моделей</div>
			<ul class="discount-center__menu discount-center__menu-mob-slider">
				<li class="discount-center__item">
					<a href="#">Прямые диваны</a>
				</li>
				<li class="discount-center__item discount-center__item_active">
					<a href="#">Угловые диваны</a>
				</li>
				<li class="discount-center__item">
					<a href="#">Кресла</a>
				</li>
				<li class="discount-center__item">
					<a href="#">Малые формы</a>
				</li>
				<li class="discount-center__item">
					<a href="#">Модульные диваны</a>
				</li>
				<li class="discount-center__item">
					<a href="#">Комплекты</a>
				</li>
				<li class="discount-center__item">
					<a href="#">Распродажа</a>
				</li>
			</ul>
			{% include "blocks/products.twig" with {"cardCount": 6, "modif": "section__title_margin-bot"} %}
			<!-- <div class="main-products-more">
				<a href="products" class="btn main-products-more__btn">Все предложения</a>
			</div> -->
			{% include "blocks/accessories-and-gifts.twig" with { "title":"Не забудьте добавить аксессуар", "classes": "_cart-acessories-slider" }%}
		</div>
		<div class="index-map">
			{% include "blocks/map.twig" with {'state': 'index'} %}
		</div>
	</div>
	{% include "./blocks/popup-shops.twig" %}
{% endblock %}