{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block sidebar %}
	{% include "./blocks/sidebar.twig" with {topFixed: false} %}
	{% include "./blocks/product-sidebar.twig" %}
{% endblock %}

{% block page %}
	<div class="product-card">
	{% include "blocks/breadcrumbs.twig" %}
		<div class="product-card__top _product" data-discount="29" data-price="45990" data-id="44">
			<div class="product-card__name-mob">
				Vincent
			</div>
			<div class="product-card__sliders">
				<div class="product-card__actions">
					<div class="product-card__action">1DAY</div>
					<div class="product-card__action">HOT</div>
				</div>
				<div class="product-card__increase" onclick="o2.productCardPopup.open()">
					<svg role="img" class="search-icon">
						<use xlink:href="#search-icon"></use>
					</svg>
				</div>
				<di`v class="product-card-slider">
					{% for i in 0..5 %}
						<div class="product-card-slider__slide-wr" onclick="o2.productCardPopup.open()">
							<div class="product-card-slider__slide">
								<div class="product-card__image">
									<picture>
										<source data-srcset="img/assets/product-card-img-mobile.jpg, img/assets/product-card-img-mobile@2x.jpg 2x" media="(max-width: 740px)">
										<source data-srcset="img/assets/product-card-img-tablet.jpg, img/assets/product-card-img-tablet@2x.jpg 2x" media="(max-width: 950px)">
										<source data-srcset="img/assets/product-card-img-medium.jpg, img/assets/product-card-img-medium@2x.jpg 2x" media="(max-width: 1200px)">
										<source data-srcset="img/assets/product-card-img.jpg, img/assets/product-card-img@2x.jpg 2x">
										<img data-src="img/assets/product-card-img.jpg" class="lazy-image" alt="">
									</picture>
								</div>
							</div>
						</div>
					{% endfor %}
				</di`v>
				<div class="product-card-slider-nav">
					{% for i in 0..5 %}
						<div class="product-card-slider-nav__slide-wr">
							<div class="product-card-slider-nav__slide">
								<div class="product-card-slider-nav__image">
									<picture>
										<source srcset="img/assets/product-card-img-mobile.jpg, img/assets/product-card-img-mobile@2x.jpg 2x" media="(max-width: 740px)">
										<source srcset="img/assets/product-card-img-tablet.jpg, img/assets/product-card-img-tablet@2x.jpg 2x" media="(max-width: 950px)">
										<source srcset="img/assets/product-card-img-medium.jpg, img/assets/product-card-img-medium@2x.jpg 2x" media="(max-width: 1200px)">
										<source srcset="img/assets/product-card-img.jpg, img/assets/product-card-img@2x.jpg 2x">
										<img src="img/assets/product-card-img.jpg" alt="">
									</picture>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="product-card__info">
				<div class="product-card__main">
					<div class="product-card__name">
						Vincent
					</div>
					<div class="product-card__sale">
						<div class="product-card__sale-text">Скидка 29% до 15 мая</div>
						<div class="product-card__prices">
							<div class="product-card__old-price">45990₽</div>
							<div class="product-card__price">35990₽</div>
						</div>
					</div>
					<button class="btn btn_accent product-card__btn product-card__btn-main" onclick="o2.productCard.clickBuyButton(this); o2.cart.addProduct(this);">Купить за 35990₽</button>
					<button class="btn btn_accent product-card__btn product-card__btn-order">Оформить заказ</button>
					<div class="product-card__offer">
						Купить&nbsp;в&nbsp;рассрочку<br />
						Доставим&nbsp;за&nbsp;3-5&nbsp;дней&nbsp;бесплатно<br />
						Осталось&nbsp;23&nbsp;модели
					</div>
				</div>
				<div class="product-card__basic">
					<div class="product-card__types dropdown-wr">
						<div class="product-card__title dropdown-activator" onclick="o2.dropdown.toggle(this)">
							<div class="product-card__info-title product-card__types-name">
								Модель: прямой диван
							</div>
							<div class="product-card__arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="11.344" height="6.012" viewBox="0 0 11.344 6.012">
									<path id="Path_4292" data-name="Path 4292" d="M0,0,2.576,2.662,5.153,5.324,2.576,7.986,0,10.648" transform="translate(10.996 0.359) rotate(90)" fill="none" stroke="#b1b1b1" stroke-linejoin="round" stroke-width="1.001"/>
								</svg>
							</div>
						</div>
					<div class="dropdown-list">
						<div class="product-card__types-wr">
							<div class="product-card__type product-card__type_selected" onclick="o2.productCard.selectSofaType(this)">
								<picture>
									<source srcset="img/assets/small-sofa-1.png">
									<img src="img/assets/small-sofa-1.png" alt="">
								</picture>
							</div>
							{% for i in 1..3 %}
								<div class="product-card__type" onclick="o2.productCard.selectSofaType(this)">
									<picture>
										<source srcset="img/assets/small-sofa-{{ i+1 }}.png">
										<img src="img/assets/small-sofa-{{ i+1 }}.png" alt="">
									</picture>
								</div>
							{% endfor %}
						</div>
					</div>
					</div>
					<div class="product-card__dimension dropdown-wr">
						<div class="product-card__title dropdown-activator" onclick="o2.dropdown.toggle(this)">
							<div class="product-card__info-title product-card__dimension-title">
								Габариты: 200x300x92cм
							</div>
							<div class="product-card__arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="11.344" height="6.012" viewBox="0 0 11.344 6.012">
									<path id="Path_4292" data-name="Path 4292" d="M0,0,2.576,2.662,5.153,5.324,2.576,7.986,0,10.648" transform="translate(10.996 0.359) rotate(90)" fill="none" stroke="#b1b1b1" stroke-linejoin="round" stroke-width="1.001"/>
								</svg>
							</div>
						</div>
						<div class="product-card__dimension-params dropdown-list">
							<div class="filter-slider">
								<div class="filter-slider__label">Ширина</div>
								{% include 'blocks/range-slider.twig' with {fieldName: 'namge', type: 'range', min: 120, max: 190, from: 120, to: 190} %}
							</div>
							<div class="filter-slider">
								<div class="filter-slider__label">Длина</div>
								{% include 'blocks/range-slider.twig' with {fieldName: 'namge', type: 'range', min: 120, max: 190, from: 120, to: 190} %}
							</div>
							<div class="filter-slider">
								<div class="filter-slider__label">Высота</div>
								{% include 'blocks/range-slider.twig' with {fieldName: 'namge', type: 'range', min: 120, max: 190, from: 120, to: 190} %}
							</div>
						</div>
						<a class="product-card__dimension-more product-card__dimension-more_open" onclick="o2.dropdown.toggle(this)">
							Изменить параметры
						</a>
						<a class="product-card__dimension-more product-card__dimension-more_close" onclick="o2.dropdown.toggle(this)">
							Свернуть
						</a>
					</div>
					<div class="product-card__materials dropdown-wr dropdown-wr_active">
						<div class="product-card__title dropdown-activator dropdown-activator_active" onclick="o2.dropdown.toggle(this)">
							<div class="product-card__info-title product-card__materials-title">
								Материал
							</div>
							<div class="product-card__arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="11.344" height="6.012" viewBox="0 0 11.344 6.012">
									<path id="Path_4292" data-name="Path 4292" d="M0,0,2.576,2.662,5.153,5.324,2.576,7.986,0,10.648" transform="translate(10.996 0.359) rotate(90)" fill="none" stroke="#b1b1b1" stroke-linejoin="round" stroke-width="1.001"/>
								</svg>
							</div>
						</div>
						<div class="product-card__materials-descr">
							<span>Бежевый велюр Triniti</span>
							<span class="product-card__materials-descr_hide">
								с грязеотталкивающей <br>
								технологией + Венге
							</span>
						</div>

						<div class="product-card__materials-list dropdown-list">
							<div class="product-card__materials-row product-card__materials-row_hide">
								{% for i in 0..6 %}
									<div class="product-card__materials-color" onclick="o2.productCard.chooseMaterial(this, event)">
										<a href="#" class="product-card__materials-img">
											<picture>
												<source data-srcset="img/assets/material-color.jpg, img/assets/material-color@2x.jpg 2x">
												<img class="lazy-image" data-src="img/assets/material-color" alt="color">
											</picture>
										</a>
									</div>
								{% endfor %}
							</div>
							<div class="product-card__materials-row">
								{% for i in 0..5 %}
									<div class="product-card__materials-color" onclick="o2.productCard.chooseMaterial(this, event)">
										<a href="#" class="product-card__materials-img">
											<picture>
												<source data-srcset="img/assets/material-color.jpg, img/assets/material-color@2x.jpg 2x">
												<img class="lazy-image" data-src="img/assets/material-color" alt="color">
											</picture>
										</a>
									</div>
								{% endfor %}
								<div class="product-card__materials-color product-card__materials-color-more" onclick="o2.popups.open('fabric-gallery')">
									<svg role="img" class="plus-icon">
										<use xlink:href="#plus-icon"></use>
									</svg>
								</div>
							</div>
						</div>
						<div class="product-card__materials-more" onclick="o2.popups.open('fabric-gallery')">
							+3500 видов тканей <br>
							Открыть галерею
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="description" class="product-card__description dropdown-wr dropdown-wr_active">
			<div class="product-card__mobile-title dropdown-activator dropdown-activator_active" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Описание</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			<div class="dropdown-list">
				<div class="section__title product-card__description-title">
					Неоклассический диван Braiton – стильное решение для интерьера и идеальное место для комфортного отдыха.
				</div>
				<div class="product-card__description-content">
					<div class="product-card__description-text">
						Стильный диван Braiton станет центром интерьера, выполненного в&nbsp;неоклассическом стиле. Его дизайн призван подчеркнуть изысканный вкус владельца и&nbsp;сформировать пространство комнаты. Повышенная мягкость дивана сделает отдых максимально комфортным. Модель оснащена трехсекционным механизмом трансформации Trifolder, благодаря которому диван превращается в&nbsp;полноценную двуспальную кровать.
					</div>
					<div class="product-card__description-image-wr">
						<div class="product-card__description-image">
							<picture>
								<source srcset="img/assets/sofa-desc-phone.png, img/assets/sofa-desc-phone@2x.png 2x" media="(max-width: 740px)">
								<source data-srcset="img/assets/sofa-desc-tablet.png, img/assets/sofa-desc-tablet@2x.png 2x" media="(max-width: 950px)">
								<source data-srcset="img/assets/sofa-desc-1000.png, img/assets/sofa-desc-1000@2x.png 2x" media="(max-width: 1200px)">
								<source srcset="img/assets/sofa-desc.png, img/assets/sofa-desc@2x.png 2x">
								<img src="img/assets/sofa-desc.png" alt="">
							</picture>
							<div class="product-card__description-more" style="top: 36.96%; left: 10.99%;" onclick="o2.productCard.sofaDescriptionPopover.open(this)">
								<svg role="img" class="open-info">
									<use xlink:href="#open-info"></use>
								</svg>
							</div>
							<div class="product-card__popover">
								<div class="product-card__popover-img">
									<picture>
										<source srcset="img/assets/product-popover.jpg, img/assets/product-popover@2x.jpg 2x">
										<img src="img/assets/product-popover.jpg" alt="">
									</picture>
								</div>
								<div class="product-card__popover-descr">
									Устраивайтесь поудобнее на&nbsp;диване и&nbsp;погружайтесь в&nbsp;мир
									фильмов! Комфортный диван Vincent оснащен креслами-
									реклайнерами с&nbsp;электроприводом, барной вставкой с
									ящиком для напитков
								</div>
							</div>
							<div class="product-card__description-more" style="top: 18.75%; left: 41.66%;" onclick="o2.productCard.sofaDescriptionPopover.open(this)">
								<svg role="img" class="open-info">
									<use xlink:href="#open-info"></use>
								</svg>
							</div>
							<div class="product-card__popover">
								<div class="product-card__popover-img">
									<picture>
										<source srcset="img/assets/product-popover.jpg, img/assets/product-popover@2x.jpg 2x">
										<img src="img/assets/product-popover.jpg" alt="">
									</picture>
								</div>
								<div class="product-card__popover-descr">
									Устраивайтесь поудобнее на&nbsp;диване и&nbsp;погружайтесь в&nbsp;мир
									фильмов! Комфортный диван Vincent оснащен креслами-
									реклайнерами с&nbsp;электроприводом, барной вставкой с
									ящиком для напитков
								</div>
							</div>
							<div class="product-card__description-more" style="top: 76%; left: 80.49%;" onclick="o2.productCard.sofaDescriptionPopover.open(this)">
								<svg role="img" class="open-info">
									<use xlink:href="#open-info"></use>
								</svg>
							</div>
							<div class="product-card__popover">
								<div class="product-card__popover-img">
									<picture>
										<source srcset="img/assets/product-popover.jpg, img/assets/product-popover@2x.jpg 2x">
										<img src="img/assets/product-popover.jpg" alt="">
									</picture>
								</div>
								<div class="product-card__popover-descr">
									Устраивайтесь поудобнее на&nbsp;диване и&nbsp;погружайтесь в&nbsp;мир
									фильмов! Комфортный диван Vincent оснащен креслами -
									реклайнерами&nbsp;с&nbsp;электроприводом, барной вставкой с
									ящиком для напитков
								</div>
							</div>
							<div class="product-card__description-more" style="top: 40%; left: 84.07%;" onclick="o2.productCard.sofaDescriptionPopover.open(this)">
								<svg role="img" class="open-info">
									<use xlink:href="#open-info"></use>
								</svg>
							</div>
							<div class="product-card__popover">
								<div class="product-card__popover-img">
									<picture>
										<source srcset="img/assets/product-popover.jpg, img/assets/product-popover@2x.jpg 2x">
										<img src="img/assets/product-popover.jpg" alt="">
									</picture>
								</div>
								<div class="product-card__popover-descr">
									Устраивайтесь поудобнее на&nbsp;диване и&nbsp;погружайтесь в&nbsp;мир
									фильмов! Комфортный диван Vincent оснащен креслами-
									реклайнерами с&nbsp;электроприводом, барной вставкой с
									ящиком для напитков
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown-wr dropdown-wr__spec dropdown-wr_active">
			<div class="product-card__mobile-title dropdown-activator dropdown-activator_active" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Характеристики</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			<div class="dropdown-list">
				<div id="spec" class="product-card__spec">
					<div class="section__title product-card__spec-title">Характеристики</div>
					<div class="product-card__spec-info">
						<div class="product-card__spec-left">
							<div class="product-card__spec-list">
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Габариты</div>
									<div class="product-card__spec-value">192/207 х 120 х 91 см</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Спальное место</div>
									<div class="product-card__spec-value">150 х 202 см</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Механизм</div>
									<div class="product-card__spec-value">Sandra</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Матрас</div>
									<div class="product-card__spec-value">ППУ, 12 см + Memory Foam, 5 см</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Чехол</div>
									<div class="product-card__spec-value">Съёмный</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Декор</div>
									<div class="product-card__spec-value">МДФ ламинированный</div>
								</div>
								<div class="product-card__spec-item">
									<div class="product-card__spec-name">Бельевой ящик</div>
									<div class="product-card__spec-value">Опционально</div>
								</div>
							</div>
						</div>
						<div class="product-card__spec-right">
							<svg xmlns="http://www.w3.org/2000/svg" width="611.914" height="334.957" viewBox="0 0 611.914 334.957">
								<g id="Group_1314" data-name="Group 1314" transform="translate(-912.086 -1893.5)">
									<text id="_92" data-name="92" transform="translate(1176.303 1939.771)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-7.784" y="0">92</tspan></text>
									<text id="_240" data-name="240" transform="translate(1021.346 2012.207)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-11.676" y="0">240</tspan></text>
									<line id="Line_29" data-name="Line 29" y2="13.554" transform="translate(1028.238 1934.66)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_32" data-name="Line 32" x2="101.651" transform="translate(926.586 1914.33)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_33" data-name="Line 33" y2="54.214" transform="translate(960.469 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_34" data-name="Line 34" y2="54.214" transform="translate(994.354 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_35" data-name="Line 35" x2="101.651" transform="translate(1028.238 1914.33)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_36" data-name="Line 36" y2="54.214" transform="translate(1062.121 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_37" data-name="Line 37" y2="54.214" transform="translate(1096.004 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_826" data-name="Rectangle 826" width="203.302" height="13.554" transform="translate(926.668 1934.66)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_827" data-name="Rectangle 827" width="13.553" height="41.508" transform="translate(913.115 1927.037)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_828" data-name="Rectangle 828" width="203.302" height="20.33" transform="translate(926.668 1948.215)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_829" data-name="Rectangle 829" width="13.553" height="5.93" transform="translate(913.115 1921.107)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_830" data-name="Rectangle 830" width="13.553" height="5.93" transform="translate(913.115 1968.545)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_831" data-name="Rectangle 831" width="13.553" height="5.93" transform="translate(1129.973 1968.545)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_832" data-name="Rectangle 832" width="13.553" height="41.508" transform="translate(1129.973 1927.037)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_833" data-name="Rectangle 833" width="13.553" height="5.93" transform="translate(1129.973 1921.107)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_851" data-name="Rectangle 851" width="101.651" height="40.661" transform="translate(926.668 1894)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_852" data-name="Rectangle 852" width="101.651" height="40.661" transform="translate(1028.32 1894)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4390" data-name="Path 4390" d="M204.693,238.378V157.056" transform="translate(957.891 1737.518)" fill="#fff" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4406" data-name="Path 4406" d="M5772.226,2143.9l1.809-2.9,1.808,2.9" transform="translate(-4611.457 -246.426)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4407" data-name="Path 4407" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(1164.658 1976.244) rotate(180)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4390-2" data-name="Path 4390" d="M.048,230.522,0,0" transform="translate(1144.221 1990.461) rotate(90)" fill="#fff" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4406-2" data-name="Path 4406" d="M0,2.9,1.809,0,3.617,2.9" transform="translate(1144.492 1988.693) rotate(90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4407-2" data-name="Path 4407" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(913 1992.582) rotate(-90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<line id="Line_30" data-name="Line 30" x2="108.428" transform="translate(914.754 2127.211)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4398" data-name="Path 4398" d="M428.513,498.339l81.321.2v11.978H428.513" transform="translate(594.668 1628.873)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_854" data-name="Rectangle 854" width="3.388" height="18.756" transform="translate(1101.113 2139.389)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_45" data-name="Line 45" y2="48.312" transform="translate(941.859 2103.254)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_46" data-name="Line 46" y2="48.312" transform="translate(969.441 2103.254)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_47" data-name="Line 47" y2="48.312" transform="translate(996.09 2103.254)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4399" data-name="Path 4399" d="M521.353,498.684v30.735" transform="translate(555.123 1628.727)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_48" data-name="Line 48" x2="12.635" y2="8.421" transform="translate(1037.611 2139.389)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4400" data-name="Path 4400" d="M475.659,498.684v30.735" transform="translate(574.586 1628.727)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<text id="_116" data-name="116" transform="translate(964.633 2192.604)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-11.676" y="0">116</tspan></text>
									<text id="_162" data-name="162" transform="translate(1001.84 2225.457)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-11.676" y="0">162</tspan></text>
									<rect id="Rectangle_840" data-name="Rectangle 840" width="20.33" height="21.205" transform="translate(922.188 2081.85)" fill="none" stroke="#613175" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4388" data-name="Path 4388" d="M308.356,428.363H280.774l-8.188-32.677,24.488-4.916Z" transform="translate(661.742 1674.691)" fill="none" stroke="#613175" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_841" data-name="Rectangle 841" width="13.553" height="5.93" transform="translate(915.41 2151.367)" fill="none" stroke="#613175" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_842" data-name="Rectangle 842" width="13.553" height="5.93" transform="translate(1010.285 2151.367)" fill="none" stroke="#613175" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_843" data-name="Rectangle 843" width="108.428" height="48.312" transform="translate(915.41 2103.055)" fill="none" stroke="#613175" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4390-3" data-name="Path 4390" d="M.049,109.786,0,0" transform="translate(1023.484 2174.143) rotate(90)" fill="none" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4408" data-name="Path 4408" d="M.049,190.533,0,0" transform="translate(1104.23 2201.123) rotate(90)" fill="#fff" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4406-3" data-name="Path 4406" d="M0,2.9,1.809,0,3.617,2.9" transform="translate(1023.756 2172.375) rotate(90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4409" data-name="Path 4409" d="M0,2.9,1.809,0,3.617,2.9" transform="translate(1104.502 2199.355) rotate(90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4407-3" data-name="Path 4407" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(913 2203.264) rotate(-90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4410" data-name="Path 4410" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(913 2176.244) rotate(-90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<text id="_92-2" data-name="92" transform="translate(1516 1996.703)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-7.784" y="0">92</tspan></text>
									<text id="_240-2" data-name="240" transform="translate(1359.044 2138.916)" fill="#b1b1b1" font-size="14" font-family="HelveticaNeueCyr-Roman, HelveticaNeueCyr"><tspan x="-11.676" y="0">240</tspan></text>
									<line id="Line_117" data-name="Line 117" y2="200.584" transform="translate(1291.168 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_118" data-name="Line 118" y2="200.584" transform="translate(1325.051 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116" data-name="Line 116" x2="101.651" transform="translate(1257.283 1914.033)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120" data-name="Line 120" x2="101.651" transform="translate(1358.935 1914.033)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-2" data-name="Line 116" x2="101.651" transform="translate(1257.283 2021.709)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-2" data-name="Line 120" x2="101.651" transform="translate(1358.935 2021.709)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-3" data-name="Line 116" x2="101.651" transform="translate(1257.283 1968.289)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-3" data-name="Line 120" x2="101.651" transform="translate(1358.935 1968.289)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-4" data-name="Line 116" x2="101.651" transform="translate(1257.283 1940.742)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-4" data-name="Line 120" x2="101.651" transform="translate(1358.935 1940.742)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-5" data-name="Line 116" x2="101.651" transform="translate(1257.283 2049.254)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-5" data-name="Line 120" x2="101.651" transform="translate(1358.935 2049.254)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-6" data-name="Line 116" x2="101.651" transform="translate(1257.283 2075.965)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-6" data-name="Line 120" x2="101.651" transform="translate(1358.935 2075.965)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_116-7" data-name="Line 116" x2="101.651" transform="translate(1257.283 1994.998)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_120-7" data-name="Line 120" x2="101.651" transform="translate(1358.935 1994.998)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_121" data-name="Line 121" y2="200.584" transform="translate(1392.818 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_123" data-name="Line 123" y2="200.584" transform="translate(1358.596 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<line id="Line_122" data-name="Line 122" y2="200.584" transform="translate(1426.703 1894)" fill="none" stroke="#d1d1d1" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_827-2" data-name="Rectangle 827" width="13.553" height="71.395" transform="translate(1243.813 1911.178)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_829-2" data-name="Rectangle 829" width="13.553" height="5.93" transform="translate(1243.813 1905.248)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_830-2" data-name="Rectangle 830" width="13.553" height="5.93" transform="translate(1243.813 1982.572)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_831-2" data-name="Rectangle 831" width="13.553" height="5.93" transform="translate(1460.669 1982.572)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_832-2" data-name="Rectangle 832" width="13.553" height="71.395" transform="translate(1460.669 1911.178)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_833-2" data-name="Rectangle 833" width="13.553" height="5.93" transform="translate(1460.669 1905.248)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_851-2" data-name="Rectangle 851" width="101.651" height="46.743" transform="translate(1257.367 1894)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_906" data-name="Rectangle 906" width="203.484" height="154.419" transform="translate(1257.367 1940.742)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<rect id="Rectangle_852-2" data-name="Rectangle 852" width="101.651" height="46.743" transform="translate(1359.019 1894)" fill="none" stroke="#4b2467" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4390-4" data-name="Path 4390" d="M204.693,357.3V157.056" transform="translate(1290.258 1737.518)" fill="#fff" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4406-4" data-name="Path 4406" d="M5772.226,2143.9l1.809-2.9,1.808,2.9" transform="translate(-4279.09 -246.426)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4407-4" data-name="Path 4407" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(1497.024 2095.162) rotate(180)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4390-5" data-name="Path 4390" d="M.048,202.333,0,0" transform="translate(1460.396 2118.17) rotate(90)" fill="none" stroke="#b1b1b1" stroke-miterlimit="10" stroke-width="1"/>
									<path id="Path_4406-5" data-name="Path 4406" d="M0,2.9,1.809,0,3.617,2.9" transform="translate(1460.669 2116.402) rotate(90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
									<path id="Path_4407-5" data-name="Path 4407" d="M0,3.158,2.055,0,4.127,3.158" transform="translate(1257.367 2120.291) rotate(-90)" fill="none" stroke="#b1b1b1" stroke-width="1"/>
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="product-card__mechanism">
					<div class="section__title product-card__mechanism-type">
						Механизм: Fincher
					</div>
					<div class="product-card__mechanism-info dropdown-wr">
						<div class="product-card__mechanism-image">
							<picture>
								<source data-srcset="img/assets/mechanism-mobile.jpg, img/assets/mechanism-mobile@2x.jpg 2x" media="(max-width: 740px)">
								<source data-srcset="img/assets/mechanism-1000.jpg, img/assets/mechanism-1000@2x.jpg 2x" media="(max-width: 1200px)">
								<source data-srcset="img/assets/mechanism.jpg, img/assets/mechanism@2x.jpg 2x">
								<img class="lazy-image" data-src="img/assets/mechanism.jpg" alt="">
							</picture>
						</div>
						<div class="product-card__mechanism-desc dropdown-list">
							Это уникальный механизм, который не&nbsp;имеет аналогов по&nbsp;простоте трансформации. Его можно разложить одной рукой, просто потянув спинку дивана на&nbsp;себя, не&nbsp;снимая при этом подушки спинки. В&nbsp;результате образуется спальное место с&nbsp;полноценным матрасом, надежно закрепленном на&nbsp;металлической раме. Такая конструкция обеспечит комфортный сон даже для людей с&nbsp;проблемным позвоночником. Эластичные ремни в&nbsp;конструкции механизма обеспечивают дополнительную мягкость как в&nbsp;сложенном, так и&nbsp;в&nbsp;разложенном виде.
						</div>
						<div class="product-card__mechanism-more dropdown-activator" onclick="o2.dropdown.productCardMechanismToggle(this)">Свернуть</div>
					</div>
				</div>
			</div>
		</div>
		<div id="modelsInStock" class="product-card__models-in-stock dropdown-wr">
			<div class="product-card__mobile-title dropdown-activator" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Модели в наличии</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			{% include "blocks/models-in-stock.twig" %}
		</div>
		<div id="reviews" class="product-card__reviews dropdown-wr">
			<div class="product-card__mobile-title dropdown-activator" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Отзывы</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			<div class="section__title">Отзывы</div>
			<div class="produc-card__reviews-wr dropdown-list">
				<div class="product-card-review-wr">
					<div class="product-card-review">
						<div class="product-card-review__stars">
							{% for i in 0..4 %}
								<svg role="img" class="star">
									<use xlink:href="#star"></use>
								</svg>
							{% endfor %}
						</div>
						<div class="product-card-review__content">
							<div class="product-card-review__person">Анна</div>
							<div class="product-card-review__content-info">
								<div class="product-card-review__date">17.11.2018</div>
								<div class="product-card-review__text">
									<span class="product-card-review__text-content">
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
									</span>
									<span class="product-card-review__read-more" onclick="o2.aboutBrand.commentView(event)">Читать&nbsp;целиком</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-card-review-wr">
					<div class="product-card-review">
						<div class="product-card-review__stars">
							{% for i in 0..3 %}
								<svg role="img" class="star">
									<use xlink:href="#star"></use>
								</svg>
							{% endfor %}
						</div>
						<div class="product-card-review__content">
							<div class="product-card-review__person">Ваня</div>
							<div class="product-card-review__content-info">
								<div class="product-card-review__date">17.11.2018</div>
								<div class="product-card-review__text">
									<span class="product-card-review__text-content">
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
									</span>
									<span class="product-card-review__read-more" onclick="o2.aboutBrand.commentView(event)">Читать&nbsp;целиком</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-card-review-wr">
					<div class="product-card-review">
						<div class="product-card-review__stars">
							{% for i in 0..2 %}
								<svg role="img" class="star">
									<use xlink:href="#star"></use>
								</svg>
							{% endfor %}
						</div>
						<div class="product-card-review__content">
							<div class="product-card-review__person">Петя</div>
							<div class="product-card-review__content-info">
								<div class="product-card-review__date">17.11.2018</div>
								<div class="product-card-review__text">
									<span class="product-card-review__text-content">
										Всё в срок и очень профессионально. Оформили доставку на 25 июля, в этот же день нам собрали диван, быстро, аккуратно.
									</span>
									<span class="product-card-review__read-more" onclick="o2.aboutBrand.commentView(event)">Читать&nbsp;целиком</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="accessories" class="product-card__accessories dropdown-wr">
			<div class="section__title product-card__title">Аксессуары и подарки</div>
			<div class="product-card__mobile-title dropdown-activator" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Аксессуары и подарки</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			{% include "blocks/accessories-and-gifts.twig" with {'classes': 'accessories__slider dropdown-list'} %}
		</div>
		<div class="product-card__map product-card__map_border_bot dropdown-wr">
			<div class="product-card__mobile-title dropdown-activator" onclick="o2.dropdown.toggle(this)">
				<div class="product-card__mobile-text">Оплата и доставка</div>
				<div class="product-card__mobile-arrow">
					<svg role="img" class="arrow-down-c">
						<use xlink:href="#arrow-down-c"></use>
					</svg>
				</div>
			</div>
			<div id="pay" class="dropdown-list">
				{% include "blocks/map.twig" with {'state': 'delivery'} %}
			</div>
		</div>
		<div class="product-card__products">
			{% include "blocks/products.twig" with {'title': 'Рекомендуем также посмотреть', 'cardCount':6} %}
		</div>
	</div>
	{% include "blocks/popup-product-image.twig" %}
	{% include "./blocks/popup-fabric-gallery.twig" %}
	{% include "./blocks/popup-shops.twig" %}
{% endblock %}